@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

body {
  overflow-y: auto;
  background: #0d0e12;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #0d0e12;
}

body::-webkit-scrollbar-thumb {
  background: #4c1d95;
  border-radius: 9999px;
}

* {
  box-sizing: border-box;
}
